.team-section {
  text-align: center;
}

.team-member-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-items: center;
  margin-top: 20px;
  padding-bottom: 100px;
}

.team-member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  height: 100%;
  box-sizing: border-box;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.144);
}

.team-member-card:hover {
  transform: translateY(-10px);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.team-member-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 50%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.295);
}

.team-member-name {
  padding-top: 15px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  flex-grow: 1;
  text-align: center;
}

.team-member-role {
  margin-bottom: 5px;
  text-transform: capitalize;
  font-style: italic;
}

.team-member-links {
  display: flex;
  justify-content: center;
}

.team-member-link {
  margin: 0 5px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.team-member-link:hover {
  transform: translateY(-2px);
}

.team-member-icon {
  width: 30px;
  height: 30px;
  fill: currentColor;
}

.title h1 {
  font-size: 7rem;
  color: #007d79;
  padding-top: 40px;
}

.about-description {
  padding-bottom: 30px;
  text-align: center;
  font-size: 1rem;
  color: #555555;
  padding-top: 20px;
}


.team-section {
  text-align: center;
}

.team-section .about-lottie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
