.favorite-recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.favorite-details {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fc7f2b57;
    border-radius: 200px;
}

.favorite-details h1 {
    color: #2B312D;
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
    margin-top: 30px;
}


.fav-lottie-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding-bottom: 50px;
}

.fav-grid {
    padding: 80px;
}

.recipe-name a {
    text-decoration: none;
}
