@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
    }
  }

.d-flex.flex-column.h-custom-2.w-75 {
  margin: 0 auto;
  max-width: 400px;
  padding-bottom: 200px;
}


.d-flex.flex-column.h-custom-2.w-75 form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f8f8;
}


.d-flex.flex-row.ps-5.pt-5 h1 {
  margin-bottom: 0;
  font-weight: bold;
  color: #709085;
}


.d-flex.flex-row.ps-5.pt-5 i {
  margin-right: 10px;
  font-size: 3rem;
}


.alert.alert-danger {
  margin-top: 10px;
  text-align: center;
  color: #ff0000;
}


.form-label {
  font-weight: bold;
  margin-bottom: 5px;
}


.form-control {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}


.btn-primary {
  width: 130%;
  margin-top: 10px;
  margin-bottom: 30px;
}


.ms-5 .link-info {
  color: #17a2b8;
}
