@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.recipe-card {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.164);
  border-radius: 7%;
  display: flex;
  width: 250px;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-card:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.295);
}

.recipe-image-container {
  flex: 1;
}

.recipe-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe-details {
  padding: 5px;
  text-align: center;
}

.button {
  background-color: #dd483d;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  transition: transform 0.2s;
}


.button:hover {
  transform: scale(1.1);
}


.favorite-recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.favorite-recipes-title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  margin-bottom: 50px;
  color: #333;
  font-weight: bold;
}

.favorite-recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.recipe-name {
  text-decoration: none;
  color: #b35a1e;
  font-size: 24px;
  font-weight: bold;
}

.recipe-name:hover {
  color: #d86e27d3;
}


.recipe-name a {
    text-decoration: none;
}
